.products-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2{
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #a024bf;
    }
    .form-card{
        padding: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #a024bf;
        background: #0d0d0d;
        color: #fff;
        border-radius: 2rem;
        gap: 1.5rem;
        height: auto;
        align-items: center;
        justify-content: center;

        .form-product{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 1rem;

            .form-group{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                ::-webkit-input-placeholder {
                    color: #ffffffa2;
                }
                    
                :-moz-placeholder {
                    color: #ffffffa2;  
                }
                    
                :-ms-input-placeholder {  
                    color: #ffffffa2;  
                }
                ::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                    opacity: 0.8; 
                }
                input{
                    background-color: transparent;
                    border: 1px solid #64ef9b;
                    color: #fff;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                }
                textarea{
                    background-color: transparent;
                    border: 1px solid #64ef9b;
                    color: #fff;
                    border-radius: 0.5rem;
                }
            }
        }
    
    }

   
    .btn-attus{
        background-color: #a024bf;
        border: 1px solid #a024bf;
        color: #fff;
        border-radius: 2rem;
    }
    
}