body{
    overflow-x: hidden;
    height: 100vh;
    background-image: url('../public/background-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding: 2rem 2rem 0;
}

.w-100{
    width: 100%;
}
